body {
    margin: 0;
}

.container-1 {
    height: 100vh;
}

.header {
    height: 64px;
    background-color: rgb(41, 41, 41);
}

.banner-container {
    position: relative;
    height: 75vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.5); /* Change color and opacity here */
}

.img-container {
    position: relative;
    height: 100%;
}

.img-container > img {
    display: block;
    width: 100vw;
}